.textField{
    background-color: aliceblue;
}
.TextField{
    background-color: aqua;
}
.textContainer{
    background-color: green;
}
.newcard{
    background-color:forestgreen ;

    /* backgroundColor: '#FFFFFF', */
     /* width: 483, height: 65, margin: 10 */

}